@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen.woff2') format('woff2'),
         url('./fonts/Silkscreen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
html {
    background: #8C68C4;
}
html, body {
    margin: 0;
    min-height: 100%;
}
body {
    min-height: 100dvh;
    line-height: 1.5;
    background: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5 {
    text-wrap: balance;
}

/* ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
} */
/* .right-links {
    display: flex;
    margin-left: auto;
    gap: 20px;
    color: #F9FAF8;
} */

h2 {
    font-family: 'Silkscreen';
    padding-bottom: 25px;
}
.hero-main-text {
    font-family: 'Silkscreen';
    font-size: 40px;
    font-weight: 900;
}
.hero-secondary-text, .right-links {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer, .header {
    text-align: center;
    background: black; 
    color: white;
}
.navbar {
    background: black;
    padding: 15px;
}
.introduction {
    padding: 15px;
    background-color: rgb(0 0 0 / 40%);
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.introduction-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 50%;
    text-align: center;
    padding: 30px;
}
.introduction-image {
    padding: 30px;
}
.footer {
   text-align: center;
   padding: 20px;
}

.project-display {
    text-align: center;
    padding: 25px 50px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.project {
    background: rgb(0 0 0 / 40%);
    border-radius: 20%;
    padding: 15px;
    color: white;

    height: 450px;
    width: 450px;

    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.project-photo {
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

